<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h2>Chat App</h2>
		<form class="" action="/joinroom" method="post">
			<input type="text" name="username" placeholder="username" value="">
			<input type="text" name="room" placeholder="room" value="">
			<button type="submit" name="button">Submit</button>
		</form>
	</body>
</html>
